	@charset "UTF-8";
	
	main {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 100%;
	}
	
	h2 {
		font-family: 'Gamja Flower', cursive;
		font-size: 50px;
		padding: 20px;
		text-align: center;
		margin-bottom: 20px;
	}
	

	table {
		width:900px;
		padding: 15px;
		border-radius: 10px;

	}
	
	th {
		border-right: 2px solid white;
		background-color: #C4DEFF;
		box-shadow: 0 2px 2px #C4DEFF;
		
	}
	
	td, th {
		padding: 15px;
		box-shadow: 0 1px 2px #C4DEFF;
		text-align: center;
		font-family: Nanum Gothic;
		font-weight: bold;
		border-radius: 5px;
	}
	
	a{
		text-decoration: none;
		font-family: Nanum Gothic;
		color:black;
		font-weight: bold;
		text-align: left;
	}
	
	a:hover {
		color:gray;
	}
	
	.page_menu{
		padding-top:10px;
		display: flex;
		justify-content: center;
		align-items: center;
		
	}
	
	
	
	