@charset "UTF-8";

	* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			font-family: NanumGothicCoding;
		}
		
		main {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
			font-family: Arial, sans-serif;
			background-color: white;
			color: #333;
			margin: 0;
			padding: 0;
		}

		.oneinquiry_form{
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			
		}
		
		h2{
			font-family : 'Gamja Flower', cursive;
			font-size: 50px;
			padding: 20px;
			text-align: center;
			margin-bottom: 20px;
		}

		input[type="text"], textarea{
			padding: 5px;
			border: 1px solid #C4DEFF;
			border-radius: 5px;
		}
		
		hr{	
			width:100%;
			border: 1px dashed #C4DEFF;
		}
	
		
		.oneinquiry_top{
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			flex-direction: column;
			margin-bottom: 20px;
			
		}
		
		p{
			font-family: Nanum Gothic;
			font-weight: bold;
			padding-bottom: 10px;
			
		}
		
		.send_btn{
			padding-top: 10px;
			
		}
		
		input[type="button"]{
			width: 150px;
			padding: 10px;
			border: none;
			border-radius:5px;
			background-color: #C4DEFF;
			font-family: Nanum Gothic;
			font-weight: bold;
		}
		
		input[type="button"]:hover{
			background-color: #5586EB;
			color: white;
		}
		
		
	